<%= form_for current_user.mentorships.find_by_mentor_id(@person),
					:html => { :method => :delete },
					:remote => true do |f| %>
  <div class="actions"><%= f.submit "Unfollow" %></div>
<% end %>

