<div id="welcome">
<!-- Will contain an if statement on signed_in. If not signed in, will display logo in top left, 
search in top right, and the sign-up button in the middle (down) / sign-in button on right (down). 
If signed in, user info replaces the middle area of the div header.-->

<h2 style="color: #fff;"><%= title %></h3>

</div>