<% @user ||= current_user %>

<% @work_results.each_index do |index| %>
<div id="results">

  <div id="result_name">
    <p>
      <%= link_to "#{@people_results[index].first} #{@people_results[index].last}", 
      		      @people_results[index] %>
      <span style="font-size: 50%"> <br />
        <%= link_to "#{@people_results[index].title}",
      			    @people_results[index] %>
      </span>
    </p>
  </div>
  
  <div id="result_age">
    <p>
      <%= link_to "#{@work_results[index].age}", 
      		      @people_results[index] %>
    </p>
  </div>
  
  <div id="result_story">
    <p>
      <%= link_to "#{@work_results[index].content}",
      			  @people_results[index] %>
    </p>
  </div>
  
</div>
<% end %>



