<header>
  <nav class="round">
    <ul>
      <li style="float:left"><%= link_to "ShapeSeed", root_path %></li>
      <li><%= link_to "Suggest", suggest_path %></li>
      <% if signed_in? %>
        <li><%= link_to "Sign Out", logout_path %></li>
      <% end %>
    </ul>
  </nav>
</header>


